{% extends 'layout.html.twig' %}



{% block title %}SnowTricks|Nos figures{% endblock %}

        {% block body %}




            <!-- Section: about -->
            <section id="about" class="home-section text-center">
                <div class="heading-about">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="wow bounceInDown" data-wow-delay="0.4s">
                                    <div class="section-heading">
                                        <h2>NOS FIGURES</h2>
                                        <i class="fa fa-2x fa-angle-down"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                     <button class="btn btn-success" ><a href="{{ path('sitecom_addtrick') }}" style="color: white"> <i class="fa fa-chevron-circle-right"></i> Cliquez ici pour ajouter une nouvelle figure </a></button>





                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-5">
                            <hr class="marginbot-50">
                            {% for message in app.flashes('success')  %}
                                <div class="alert alert-success"> {{ message }}</div>

                            {% endfor  %}
                        </div>
                    </div>
                    <div class="row">
                        {% set i = 0 %}
                        {% for listtrick in listtricks %}





                        <div class="col-md-3">
                            <div class="wow bounceInUp" data-wow-delay="0.2s">
                                <div class="team boxed-grey">
                                    <div class="inner">




                                        {% for img in listtrick.image %}
                                            {% if loop.first %}
                                                <h5 class="card-title"><a href="{{ path('sitecom_showtrick',{id:listtrick.id }) }}"> {{ listtrick.name }}</a></h5>
                                                <div class="avatar"><img src="{{ img.name}}" alt="" class="img-responsive" /></div>

                                            {% if app.user %}
                                                <a href="{{ path('sitecom_edittrick',{id:listtrick.id }) }}" class="btn btn-warning btn-xsm">  <i class="fa  fa-edit"></i></a>
                                                <a href="{{ path('sitecom_deletetrick',{id:listtrick.id }) }}" class="btn btn-danger btn-xsm" onclick="return confirm('Êtes vous sûr de vouloir supprimer la figure :{{ listtrick.name }} ?')">  <i class="fa fa-trash-o"></i></a>
                                            {% endif %}

                                            {% endif %} {% endfor %}






                                    </div>
                                </div>
                            </div>
                        </div>
                            {% set i= i + 1 %}

                        {% endfor %}








                    </div>

                    <div class="navigation">
                        {{ knp_pagination_render(listtricks) }}
                    </div>



                </div>


            </section>
            <!-- /Section: about -->



        {% endblock %}

